<h3>Click below to view job specific interview questions. Fill in your answers and begin preparing!</h3>

<table>

<% @jobs.each do |job| %>
  <tr>
		<td>
			<ul>
				<li><%= link_to job.name, new_job_answer_path(job.id) %></li>
			</ul>
		</td>
		<% if admin? %>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<% if admin? %>
	<%= link_to 'New Job', new_job_path %>
<% end %>
