<% content_for :javascript do %>
<%= javascript_tag do %>
// Sorting the list

$(document).ready(function(){
$('#jobs').sortable({
axis: 'x,y',
dropOnEmpty: false,
handle: '.handle',
cursor: 'crosshair',
items: 'li',
opacity: 0.4,
scroll: true,
update: function(){
$.ajax({
type: 'post',
data: $('#jobs').sortable('serialize'),
dataType: 'script',
complete: function(request){
$('#jobs').effect('highlight');
},
url: '/jobs/sort'})
}
});
});
<% end %>
<% end %>
<h3>Click below to view job specific interview questions. Fill in your answers and begin preparing!</h3>



<ul id="jobs">
	<% @jobs.each do |job| %>
		<li id="job_<%= job.id %>">
			<% if admin? %>
				<span class="handle">[drag]</span>
			<% end %>
			<% if current_user.nil? %>
				<h3><%= link_to job.name, new_user_registration_path %></h3>
			<% end %>
			<% if current_user %>
				<h3><%= link_to job.name, new_job_answer_path(job.id) %></h3>
			<% end %> 
			<% if current_user.nil? %>
			  <div id="login_button">
				 <%= link_to "Login To View Questions", new_user_registration_path %>
				</div>        
			<% end %>
			<% if admin? %>
      <%= link_to 'Show', job %>
   	- <%= link_to 'Edit', edit_job_path(job) %>
    - <%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
			<h5>Top Question:</h5>
			<% if current_user.nil? %>
			  <p><%= job.questions.first.question %></p>
			<% end %>
			<% if current_user %>
				<p><%=link_to "#{job.questions.first.question}", new_job_answer_path(job.id)  %></p>
			<% end %> 
	  </li>
		<br \>
	<% end %>
</ul>


<br />

<% if admin? %>
	<%= link_to 'New Job', new_job_path %>
<% end %>
