<h2><%= @job.name %> Interview Questions</h2>

<h3>Create your own study guide by answering the questions below. These were all taken from a recent <%= @job.name %> interview.</h3>
<br />

<%= form_tag(job_answers_path(@job)) do %>
	<ol>
	<% @job.questions.each do |q| %>
		<li>
			<p><%= q.question %></p>
			<%= text_area_tag "answers[#{q.id}]" %>
		</li>
	<% end %>
	</ol>
	
	<%= submit_tag("Create Study Guide") %>
<% end %>

<%= link_to 'Back', jobs_path %>
