<p id="notice"><%= notice %></p>

<%= params[:job_id] %>

<h1><%= @job.name %></h1>

<% @job.questions.each do |q| %>
	<ol>
		<p><%= q.question %></p>
		<p><%= q.answers.last %></p>
	</ol>
<% end %>

<%= link_to 'Back', new_job_answer_path(@job) %>
