<p id="notice"><%= notice %></p>

<% @job.questions.each do |q| %>
	<ol>
		<p><%= q.question %></p>
		<p><%= q.answers %></p>
	</ol>
<% end %>






<p>
  <b>Answer:</b>
  <%= @question.answers %>
</p>

<!-- <ol>
<% for answer in @job.answers %>
	<li></li>
	<li><%=h answer.answer %></li>
<% end %>
</ol> -->


<%= link_to 'Back', new_job_answer_path(@job, answer) %>
