<header>
	<a class="imglink" href="/" >
	  <%= image_tag "preptly1.png", :alt => "Preptly Logo" %>
	</a>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
		</ul>
		<div id="user_nav">
		    <% if user_signed_in? %>
		      Signed in as <%= current_user.email %><br /> 
		      Not you?
		      <%= link_to "Sign out", destroy_user_session_path %> 
		    <% else %>
		      <%= link_to "Sign In", user_session_path %>
					or
					<%= link_to "Sign Up", new_user_registration_path %>
		    <% end %>
		  </div>
	</nav>
</header>


